<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/f9888a3f24.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Boolflix</title>
</head>

<body>

    <div id="app">

        <header>
            <div class="logo">
                <h1>BOOLFLIX</h1>
            </div>

            <div class="form">
                <input type="text" placeholder="Cerca titolo" v-model="searchFilm">
                <button @click="searchClick">VAI</button>
            </div>

        </header>

        <main>

            <!-- ------ MOVIE ------ -->
            <div class="flex">

                <a href="#" class="box movie" v-for="(film, index) in films">
                    <img class="card" :src='"https://image.tmdb.org/t/p/w342" + film.poster_path'
                        onerror="this.onerror=null; this.src='img/notfound.png'" alt="">

                    <div class="hidden">

                        <div class="text">
                            <!-- titolo movie -->
                            <h2>{{ film.title }}</h2>
                            <!-- titolo originale movie -->
                            <p v-if="titleControll(film.title, film.original_title)"><i>{{ film.original_title }}</i>
                            </p>
                            <!-- bandiere movie -->
                            <img class="flag" :src='"img/" + film.original_language + ".svg"'
                                onerror="this.onerror=null; this.src='img/default.svg'" alt="">
                            <!-- stelline movie -->
                            <p>VOTO : <span v-for="item in film.stelle">
                                    <i :class="item" aria-hidden="true"></i></span>
                            </p>
                            <!--descrizione movie-->
                            <p class="overview">{{ film.overview }}</p>

                        </div>
                    </div>
                </a>

            </div>


            <!-------- SERIE TV -------->
            <div class="flex">

                <a href="#" class="box series" v-for="(serie, index) in tvSeries">

                    <img class="card" :src='"https://image.tmdb.org/t/p/w342" + serie.poster_path'
                        onerror="this.onerror=null; this.src='img/notfound.png'" alt="">

                    <div class="hidden">

                        <div class="text">

                            <!-- titolo serie -->
                            <h2>{{ serie.name }}</h2>
                            <!-- titolo originale serie -->
                            <p v-if="titleControll(serie.name, serie.original_name)"><i>{{ serie.original_name }}</i>
                            </p>
                            <!-- bandiere serie -->
                            <img class="flag" :src='"img/" + serie.original_language + ".svg"'
                                onerror="this.onerror=null; this.src='img/default.svg'" alt="">
                            <!-- stelline serie -->
                            <p>VOTO : <span v-for="item in serie.stelle">
                                    <i :class="item" aria-hidden="true"></i></span>
                            </p>
                            <!--descrizione serie-->
                            <p class="overview">{{ serie.overview }}</p>

                        </div>

                    </div>
                </a>

            </div>





        </main>

    </div>


    <script src="js/script.js"></script>
</body>

</html>