<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/f9888a3f24.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Boolflix</title>
</head>

<body>

    <div id="app">


        <input type="text" placeholder="Cerca titolo" v-model="searchFilm">

        <button @click="searchClick">VAI</button>

        <main>

            <h1>movie</h1>
            <div class="flex">

                <a class="box movie" v-for="(film, index) in films">
                    <h2>{{ film.title }}</h2>
                    <p><i>{{ film.original_title }}</i></p>
                    <!-- <p>LINGUA : {{ film.original_language }}</p> -->
                    <!-- <p>VOTO : {{ film.vote_average }}</p> -->
                    <img :src='"img/" + film.original_language + ".svg"' onerror="this.onerror=null; this.src='img/default.svg'" alt="">
        
                    <!-- VOTO IN STELLINE -->
                    <p>VOTO : <span v-for="item in film.stelle"><i :class="item" aria-hidden="true"></i></span></p>
        
        
                    <!-- <p>DESCRIZIONE : {{ film.overview }}</p> -->
                </a>

            </div>

            <h1>serie tv</h1>
            <div class="flex">

                <a class="box series" v-for="(serie, index) in tvSeries">
                    <h2>{{ serie.name }}</h2>
                    <p><i>{{ serie.original_name }}</i></p>
                    <!-- <p>LINGUA : {{ serie.original_language }}</p> -->
                    <img :src='"img/" + serie.original_language + ".svg"' onerror="this.onerror=null; this.src='img/default.svg'" alt="">
                    <p>VOTO : {{ serie.vote_average }}</p>
        
                    <!-- VOTO IN STELLINE -->
                    <!-- <p>VOTO : <span v-for="item in serie.stelle"><i :class="item" aria-hidden="true"></i></span></p> -->
        
        
                    <!-- <p>DESCRIZIONE : {{ serie.overview }}</p> -->
                </a>

            </div>
            




        </main>

    </div>


    <script src="js/script.js"></script>
</body>

</html>